::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: grey; 
  border-radius: 15px;
  border-bottom: 2px inset black;
  opacity: 0.8;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::selection {
  background: #fc01ef;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 100%;
  min-height: 100vh;
  background: url("../../../image/fondflou.png"); */
  margin: 0;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #060723;
}

.background {
  background: url("../../../image/fondflou.png") center;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

a {
  text-decoration: none;
}

.deco {
  text-decoration: none;
  display: block;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #b80d6b;
  right: 0;
  text-align: center;
  font-size: 18px;
  color: #ea0171;
}

.deco:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  border: 3px solid #b80d6b;
  background-color: #060723;
  color: #b80d6b;
}

.logo img{
  width: 270px;
}

.tel {
  display: none;
}

.table {
  border-spacing: 0 0.85rem !important;
}

.table .dropdown {
  display: inline-block;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td {
  background: #fff;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.avatar {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 3rem;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  padding-left: 48px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.btn-icon {
  background: #fff;
}
.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.5em 0.75em;
}

.badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

table.dataTable {
  margin-top: 12px !important;
}

.icon > .bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

@media screen and (max-height: 770px) {
  .logo img {
      width: 200px;
  }

  form .page .field input {
      padding-left: 2px;
  }
}

@media screen and (max-height: 660px) {
  .logo img {
      width: 100px;
  }

  form .page .field input {
      padding-left: 2px;
  }
}

@media screen and (max-height: 510px) {
  .logo img {
      width: 100px;
  }

  .container .form-outer {
      height: 90%;
  }

  form .page .field input {
      height: 80%;
      padding-left: 2px;
  }

  form .page .field button {
      height: 80%;
  }
}